<h1>Ruby Paradise</h1>

<p><%= link_to 'Alex', 'https://github.com/goodniceweb'%></p>
<p><%= link_to 'Tanechka', 'https://github.com/tkarpesh'%></p>
<p><%= link_to 'Vitior', 'https://github.com/vmakoed'%></p>
