<h1>Ruby Paradise</h1>

<h2>
  <%= link_to 'Alex', 'https://github.com/goodniceweb'%> |
  <%= link_to 'Tanechka', 'https://github.com/tkarpesh'%> |
  <%= link_to 'Vitior', 'https://github.com/vmakoed'%>
</h2>

<h4><%= link_to 'All posts', posts_path%></h4>
